container_commands:
    00_install_python:
        command: "dnf install -y python3 augeas-libs"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    10_remove_certbot:
        command: "dnf remove certbot"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    20_setup_python:
        command: "python3 -m venv /opt/certbot/"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    30_setup_python:
        command: "/opt/certbot/bin/pip install --upgrade pip"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    40_install_certbot:
        command: "/opt/certbot/bin/pip install certbot certbot-nginx"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    50_prepare_certbot:
        command: "ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"