container_commands:
    00_get_aws_secret_manager_secrets:
        command: |
            #!/bin/bash
            secrets=("AzureClientSecret" "PostgreSQLConnectionString" "SessionSecret")

            for secret in "${secrets[@]}"; do
                aws secretsmanager get-secret-value --secret-id "$secret" --query 'SecretString' --output text \
                | jq -r 'to_entries | .[] | "\(.key)=\(.value)"' \
                >> /opt/elasticbeanstalk/deployment/env.list
            done
           