container_commands:
    00_get_certificate:
        command: "chmod +x .platform/hooks/postdeploy/00_get_certificate.sh"
    01_move_nginx_https_config:
        command: "chmod +x .platform/hooks/postdeploy/01_move_nginx_enable_https_config.sh"
    02_reload_nginx:
        command: "chmod +x .platform/hooks/postdeploy/02_reload_nginx.sh"