name: CD
on:
  workflow_dispatch:
    inputs:
      build_tag:
          description: 'Build tag'
          required: false
          type: string
          default: null
jobs:
  deploy_api_azure:
    name: Azure - Deploy Go Api
    runs-on: ubuntu-latest
    steps:
        - name: Get Git Tag
          id: git_tag
          run: echo "::set-output name=tag::$(git tag --points-at HEAD)"
        - name: Create short sha
          uses: benjlevesque/short-sha@v3.0
          id: short-sha
          with:
            length: 8
        - name: Log in to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        - name: Deploy Container App via CLI
          run: |
            IMAGE_TAG="${{ github.event_name == 'workflow_dispatch' && inputs.build_tag || steps.git_tag.outputs.tag || steps.short-sha.outputs.sha }}"
            az containerapp update \
              --name ${{ vars.CONTAINER_APP_NAME }} \
              --resource-group ${{ vars.RESOURCE_GROUP_NAME }} \
              --image ${{ secrets.ACR_SERVER }}/cpvt-api:${IMAGE_TAG}